/* Use these to override bootstrap by having this link come second */


body {
    padding-bottom: 5cm;

}

/* h5 {
    font-weight: 600;

} */

p {
    padding-left: 1%;
}

button {
    margin: 4px;
}